.container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
gap: 10px;
margin: 0 auto;
width: 1fr;

}
.item{
border: 1px solid #333;
text-align: center;
padding: 20px;
font-size: 25px;
color: aqua;
background-color: blueviolet;
}