body{
width: 100%;
height: 100%;
padding: 0.6rem;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 8px;
  background-color: white;
  padding: 2px;
}

.item1{
    background-color: #7030a2;
    padding: 80px;
}
.item2{
    background-color: #ca46cd;
    padding: 235px;
}
.item3{
    background-color:#e29ce4;
    padding: 100px;
}
.item4{
    background-color:#ca46cd;
}
.item5{
    background-color: #7030a2;
    padding: 5px;

}


